.header {
  background-color: #f7fbff;
  min-width: 428px;
  min-height: 383px;
  position: relative;
  overflow: hidden;
  margin-bottom: 29px;

  &__cont{
    padding-top: 15px;
    width: 305px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 34.47px;
    position: relative;
  }
  &__elipse1{
    height: 358px;
    width: 599px;
    position: absolute;
    border: 1px dashed #7075FF;
    filter: blur(0.5px);
    transform: rotate(3.38deg);
    border-radius: 50%;
    top: -58px;
    left: -83px;
  }
  &__elipse2{
    width: 678.37px;
    height: 403.73px;
    position: absolute;
    border: 1px dashed #7075FF;
    filter: blur(0.5px);
    transform: rotate(3.38deg);
    border-radius: 50%;
    top: -66px;
    left: -130px;
  }
  &__country{
    width: 96.23px;
    height: 35.53px;
    border-radius: 43px;
    box-shadow: 0px 2px 2px 0px rgb(206, 206, 206);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    
  }
  &__countryList{
    position: absolute;
    top: 51px;
    left: 0px;
    width: 96.23px;
    height: 191px;
    z-index: 3;
    background-color: #565656;
    padding-bottom: 10px;
  }
  &__countryImage{
    background-image: url(./images/icons/usa.png);
    width: 20px;
    height: 19px;
    border-radius: 50%;
  }
  &__countryTitle{
    width: 49px;
    height: 16px;
    text-align: center;
    font-family: 'Montserrat-Regular';
  }
  &__list{
    width: 18px;
    height: 13px;
    position: relative;
  }
  &__listItem{
    width: 18px;
    height:1px;
    background-color: #565656;
    box-shadow: 0px 5px 0 0px #565656, 0 10px 0 0 #565656;
  }
  &__mainTitle{
    line-height: 102px;
    font-family: 'Anurati';
    font-size: 85px;
    text-align: center;
    min-width: 380px;
    min-height: 105px;
    background: linear-gradient(94.18deg, #6AE6C4 -43.24%, #8C84F6 116.18%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    text-shadow: 0px 4px 30px rgba(140, 132, 247, 0.25);
    margin-bottom: 38px;
  }
  &__buttons{
    min-width: 358px;
    min-height: 59px;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 2;
    margin-bottom: 46px;
    background-color: #f7fbff;
  }
  &__btnMint{
    width: 148px;
    height: 59px;
    background: linear-gradient(81.89deg, #8C84F7 -26.28%, #C8E1F8 154.6%);
    /* abj */
    border: 1px solid #8C84F7;
    box-shadow: 0px 4px 19px rgba(140, 132, 246, 0.5);
    border-radius: 5px;
    font-family: 'Montserrat-Bold';
    color: #FFFFFF;
    text-transform: uppercase;
    text-align: center;
    font-size: 24px;
    line-height: 26px;
    letter-spacing: 2px;
    margin-right: 16px;
  }
  &__btnWalley{
    width: 194px;
    height: 59px;
    /* abj */
    border: 1px solid #8C84F7;
    filter: drop-shadow(0px 3px 9px rgba(140, 132, 246, 0.7));
    border-radius: 5px;
    font-family: 'Montserrat-Bold';
    font-size: 20px;
    line-height: 21px;
    letter-spacing: 2px;
    background: linear-gradient(84.31deg, #8C84F7 -43.36%, #C8E1F8 147.95%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    display: flex;
    align-items: center;
    padding-left: 15px;
  }
  &__walletTitle{
    width: 134px;
    text-align: left;
    font-size: 20px;
  }
  &__iconsBar-cont{
    width: 358px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background: #FFFFFF;
    box-shadow: 0px 4px 13px rgba(217, 217, 217, 0.23);
    border-radius: 32.5px;
    position: relative;
    z-index: 2;
  }
  
}
.iconsBar{
  height: 23px;
  &>li{
    display: inline;
  }
  &>li:not(:last-child){
    margin-right: 16px;
  }
}
.wallet-icon{
  width: 27px;
  height: 18px;
  border-radius: 2px;
  background-color: #8C84F7;
  position: relative;
  &__plank{
    height: 3px;
    border-radius: 2px 2px 0 0;
    width: 24px;
    background-color: #8C84F7;
    position: absolute;
    top: -4px;
    left: 0;
  }
  &__column{
    background-color: #8C84F7;
    width: 3px;
    height: 9px;
    position: absolute;
    top: -2px;
    left: 0;
  }
  &__circle{
    position: absolute;
    top: 9px;
    right: 4px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #FFFFFF;
  }
}
.sandwish-menu{
  display: none;
  top: 3px;
  right: 159px;
  width: 185px;
  border-radius: 10px;
  background-color: #fff;
  position: relative;
  padding: 20px 0 0 21px;
  box-shadow: 0px 4px 20px rgba(174, 174, 174, 0.25);
  z-index: 3;
  &__ul{
    &>li{
      margin-bottom: 35px;
      :hover{
        color: #8C84F7;
        font-weight: 600;
        font-size: 22px;
      }
      &>a{
        text-decoration: none;
        color: #000;
        font-family: 'Montserrat-Regular';
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        letter-spacing: 2px;
      }
    }
  }
  .last-child{
    margin-bottom: 0;
    padding-bottom: 20px;
  }
  &__close-btn{
    background-color: transparent;
    text-transform: uppercase;
    border: none;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 19.75px;
    right: 26.75px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.show-class{
  display: block;
}
.main{
  width: 428px;
  &__section-budha{
    height: 688px;
    width: 428px;

  }
  .section-1{
    &__budhaPage{
      width:428px;
      height: 510px;
      background-image: url(./images/main-wallpaper.svg);
      overflow: hidden;
    }
    &__budhaCivara{
      background-image: url(./images/budhaCivara.svg);
      width:348px;
      height:346px;
    }
    &__budhaSkin{
      background-image: url(./images/budhaSkin.svg);
      width:352px;
      height:360px;
      position: relative;
      bottom: -120px;
      margin: 0 auto;
    }
    &__elipse-main{
      width: 428px;
      height: 374px;
      background: linear-gradient(94.18deg, #9EA9C9 -43.24%, #A4AAC8 116.18%);
      opacity: 0.2;
      border-radius: 0 0 125px 125px;
    }
    &__h2{
      width: 412px;
      height: 44px;
      margin: 0 auto;
      font-family: 'Montserrat-Bold';
      font-weight: 700;
      font-size: 36px;
      line-height: 44px;
      text-align: center;
      letter-spacing: -0.408px;
      /* текст фио */
      color: #000bff;
      z-index: 2;
      padding-top: 50px;
      margin-bottom: 15px;
    }
    &__text{
      width: 350px;
      height: 52px;
      margin: 0 auto;
      /* 16 шрифт мобил */
      font-family: 'Montserrat-Regular';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      /* or 26px */
      text-align: center;
      /* ccc */
      color: #000;
    }
    &__video-block{
      width: 358px;
      height: 270px;
      margin: 0 auto;
      padding-top: 15px;
      background-color: #FFFFFF;
      border-radius: 15px;
      box-shadow: 0px 8px 28px rgba(186, 186, 186, 0.25);
      position: relative;
      top: -190px;
      margin-bottom: 79px;
    }
    &__image-video{
      width: 324px;
      height: 188px;
      margin: 0 auto;
      background-image: url(./images/video-block.png);
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 9px;
    }
    &__h3{
      height: 20px;
      width: 249px;
      margin: 0 auto;
      font-family: 'Montserrat-Regular';
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
      text-align: left;
      margin-bottom: 3px;
    }
    &__paragpaph{
      width: 249px;
      height: 20px;
      margin: 0 auto;
      font-family: 'Montserrat-Regular';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      text-align: left;
    }
  }
  .image-video{
    &__play-back{
      height: 82px;
      width: 82px;
      z-index: 2;
      background-image: url(./images/icons/play-back.png);
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &__play-icon{
      height: 23px;
      width: 23px;
      background-image: url(./images/icons/play-icon.png);
    }
  }
}

/**********  MENU PAGE  ************/

.main{
  &__section-menu{
  }
}
.section2{
  &__title{
    height: 44px;
    width: 246px;
    font-family: 'Montserrat-Bold';
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: -0.4px;
    text-align: center;
    text-transform: uppercase;
    background: linear-gradient(84.58deg, #8C84F7 -31.8%, #B4C3F8 122.69%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    text-shadow: 0px 4px 30px rgba(139, 229, 215, 0.5);
    margin-bottom: 27px;
  }
  &__cont{
    
  }
  &__block{
    height: 63px;
    width: 358px;
    border-radius: 10px;
    background: linear-gradient(84.58deg, #8C84F7 -31.8%, #B4C3F8 122.69%);
    box-shadow: 0px 8px 28px rgba(186, 186, 186, 0.25);
    border-radius: 10px;
    font-family: 'Montserrat-SemiBold';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: -0.408px;
    color: #FFFFFF;
    margin: 0 auto 19px;
    padding-left: 16px;
  }
  .non-color{
    background: #FFFFFF;
    line-height: 22px;
    color: #8C84F7;
  }
  &__block:last-child{
    margin-bottom: 79px;
  }
  &__icon{
    border-radius: 50%;
    padding: 8px;
    background-color: white;
    margin-right: 22px;
  }

}
.footer{
  min-width: 428px;
  font-family: 'Montserrat-Regular';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #BBBBBB;
  margin: 0 auto;
  &__cont{
    min-width: 256px;
    height: 90px;
    padding-left: 35px;
    margin-bottom: 21px;
  }
  &__title{
    font-family: 'Montserrat-Bold';
    font-style: normal;
    line-height: 18px;
    color: #BBBBBB;
    margin-bottom: 9px;
    min-width: 110px;
  }
  &__text{
    width: 256px;
  }
  &__sidebar{
    width: 358px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 38px;
    padding-left: 35px;
  }
  &__rights{
    line-height: 15px;
    display: flex;
    align-items: center;
    text-decoration-line: underline;
    color: #565656;
  }
}
.footer-indexPage{
  position: relative;
  top: 367px;
}
